/*====================================
コンテナ部
=====================================*/
.front_container {
  width: 100%;
  margin: 0 auto;
  background-color: #FFEDD4;
  /*背景ｍｖ以外の部分のカラー？*/
}

/*====================================
TOP動画（現在画像で置く）
=====================================*/
.front_mv {
  width: 144rem;
  margin: 0 auto;
}

/*====================================
KANTOとは
=====================================*/
.front-kanto {
  padding-top: 16.4rem;
  margin: 0 auto;
  background-color: #FFEDD4;
  padding-bottom: 18rem;
  position: relative;
}

.front-kanto img {
  margin: 0 auto;
  /*ベクター画像*/
}

.h3 {
  font-size: 3.6rem;
  margin-bottom: 6.6rem;
}

.front-kanto p {
  width: 67.6rem;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  line-height: 1.708;
}

.front-howto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}