.company_container {
  width: auto;
  background-color: #FFEDD4;
  padding-top: 6rem;
  padding-bottom: 5rem;
  margin: 0 auto;
}

.company_img {
  width: 144rem;
  height: 67.6rem;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* 写真の枠を作って、その中で写真を表示・アニメーションさせる */
.company_img::before {
  content: "";
  position: absolute;
  left: 1rem;
  width: 142rem;
  height: 65.6rem;
  border-radius: 4rem;
  overflow: hidden;
  background-image: url("../img/company_top 2.png");
  background-size: 110% auto;
  background-position: 0% center;
  background-repeat: no-repeat;
  animation: photoMove 30s ease-in-out infinite alternate;
}

.teine_mountain {
  display: none;
}

/* 画像が動くように */
@keyframes photoMove {
  from {
    background-position: 0% center;
  }

  to {
    background-position: 100% center;
  }
}

.company_philosophy {
  width: 100rem;
  background-color: white;
  margin: 5rem auto 0;
  padding: 8.5rem 9rem;
  border-radius: 4rem;
}

.company_name::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 10rem;
  background-color: #00757C;
  position: absolute;
  top: 0.4rem;
  left: -1.8rem;
}

.company_name {
  position: relative;
  font-size: 1.2rem;
  font-family: Noto Sans jp;
  padding-right: 9rem;
  margin-left: 2.2rem;
}

.big_text {
  font-size: 4rem;
  font-family: Noto Sans jp;
  font-weight: bold;
  padding-top: 2rem;
}

.message {
  width: 82rem;
  font-size: 1.6rem;
  font-family: Noto Sans jp;
  margin: 2rem auto 3rem;
}

.company_table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 3rem 0;
}

.heading {
  width: 20%;
  font-size: 1.6rem;
  font-family: Noto Sans jp;
  font-weight: normal;
  color: #FF8D28;
  text-align: left;
  padding: 2.7rem 0;
  border-bottom: 0.1rem solid #FF8D28;
}

.text {
  width: 80%;
  font-size: 1.6rem;
  font-family: Noto Sans jp;
  text-align: left;
  padding: 2.7rem 0;
  border-bottom: 0.1rem solid #FF8D28;
}

.address_space .text {
  border-bottom: none;
}

.address_space {
  border-bottom: 0.1rem solid #FF8D28;
}

.heading,
.text {
  padding: 3rem 0;
}

/* 所在地が真ん中に寄ってるので、上に持っていき、padding-topをつけた */
.place {
  vertical-align: top;
  padding-top: 2.7rem;
}

.address_space .place {
  border-bottom: none;
}

/* Google mapとの間隔1rem */
.space {
  display: block;
  margin-top: 1rem;
  color: #FF8D28;
}

.group {
  margin-top: 5rem;
}

.sp_only {
  display: none;
}

@media screen and (max-width: 699.98px) {

  .company_container {
    width: 39rem;
    background-color: #FFEDD4;
    padding-top: 0;
    padding-bottom: 1rem;
  }

  .company_img {
    width: 100%;
    height: 26.8rem;
    padding-top: 2rem;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
  }

  .company_img::before {
    content: "";
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 35rem;
    height: 24.8rem;

    border-radius: 4rem;
    overflow: hidden;

    background-image: url("../img/company_top 2.png");
    background-size: cover;
    background-position: 0% center;
    background-repeat: no-repeat;

    animation: photoMoveSP 30s ease-in-out infinite alternate;
  }

  .teine_mountain {
    display: none !important;
  }

  @keyframes photoMoveSP {
    from {
      background-position: 0% center;
    }

    to {
      background-position: 100% center;
    }
  }

  .company_philosophy {
    width: 35rem;
    padding: 3rem 1rem;
    margin-top: 2rem;
  }

  .company_name::before {
    top: 0.4rem;
    left: -0.6rem;
  }

  .company_name {
    padding: 0 0 0 1rem;
    margin-left: 1rem;
  }

  .big_text {
    font-size: 3rem;
    padding: 2rem 0 0 0;
  }

  .message {
    width: 33rem;
    margin: 2rem auto 3rem;
  }

  .company_table {
    width: 31rem;
  }

  /* 表の各行をSPでは独立させる */
  .company_block {
    display: grid;
    grid-template-columns: 9rem 1fr;
    width: 100%;
    border-bottom: 0.1rem solid #FF8D28;
  }

  /* th・tdに元々ついている線を消す */
  .heading,
  .text {
    width: auto;
    border-bottom: none;
    box-sizing: border-box;
  }

  /* 左側の項目名 */
  .heading {
    white-space: nowrap;
    padding: 2.7rem 0;
  }

  /* 右側の内容 */
  .text {
    padding: 2.7rem 0;
  }

  /* 事業内容をセンターにする */
  .center {
    display: flex;
    align-items: center;
  }

  /* 折り返さないように。ここだけpaddingが異なるため。 */
  .shift {
    white-space: nowrap;
    padding: 0.8rem 0.7rem 0.8rem 0 !important;
  }

  /* =========================
   所在地だけ1列
   ========================= */

  .company_table .address_space {
    grid-template-columns: 1fr;
    border-bottom: 0.1rem solid #FF8D28;
  }

  /* 所在地 */
  .company_table .address_space .place {
    display: block;
    width: 100%;
    padding: 0;
    margin: 3rem 0;
    white-space: nowrap;
  }

  /* KANTO～住所 */
  .company_table .address_space>.text {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  /* 各施設 */
  .company_table .address_space .group {
    margin-top: 5rem;
  }

  .address_space .text {
    letter-spacing: -0.048rem;
  }

  .group {
    letter-spacing: -0.048rem;
  }

  .last_space {
    margin-bottom: 3rem;
  }

  .sp_only {
    display: inline;
  }

}